body{
font-family: Arial;
background:#f4f4f4;
}

.logo{
font-weight:bold;
font-size:22px;
}

.banner{
height:420px;
background:
linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.banner h1{
font-size:60px;
font-weight:bold;
}

.banner p{
font-size:20px;
margin-bottom:20px;
}

.movie-card{
transition:0.3s;
border:none;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.movie-card:hover{
transform:scale(1.05);
}

.card-img-top{
height:250px;
object-fit:cover;
}

.about-text{
max-width:700px;
margin:auto;
font-size:18px;
}

.contact-form{
max-width:500px;
margin:auto;
}

.footer{
background:#111;
color:white;
text-align:center;
padding:30px;
margin-top:50px;
}

.social a{
color:white;
font-size:28px;
margin:10px;
transition:0.3s;
}

.social a:hover{
color:#ffc107;
}